.shop-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.product-container {
    display: grid;
    grid-template-columns: repeat(3, 18rem);
    justify-content: space-between;
    gap: 30px;
    margin: 60px 40px;
}
.cart-container {
    background-color: rgb(184, 219, 184);
    margin-top: 60px;
    margin-bottom: auto;
    border-radius: 10px 0 0 10px;
    position: sticky;
    top: 0;
}

@media screen and (max-width: 500px) {
    .shop-container {
        display: grid;
        grid-template-columns: 1fr;
    }
    .product-container {
        display: grid;
        grid-template-columns: 18rem;
        justify-content: center;
    }
}

@media screen and (min-width: 500px) and (max-width: 830px) {
    .shop-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .product-container {
        display: grid;
        grid-template-columns: 18rem;
        justify-content: space-evenly;
    }
}
